@charset "UTF-8";
/* CSS Document */
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

}
/* tighten up header image and margin/padding */
.grid-4{
	margin-bottom:0px;
	height: 65px;
}

#nav-1{
	opacity:1.0;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	-webkit-transition: 1s ease-in;
	-moz-transition: 1s ease-in;
	-o-transition: 1s ease-in;
	-ms-transition: 1s ease-in;
	transition: .5s ease-in;
}
#nav-1 .navbar-toggler {
  border-color: #f4f3f3;
}
#nav-2{
	opacity:0;
	background-color: white;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	-webkit-transition: 1s ease-in;
	-moz-transition: 1s ease-in;
	-o-transition: 1s ease-in;
	-ms-transition: 1s ease-in;
	transition: .5s ease-in;
}
.nav-item{
	margin-left: 4px;
	margin-right: 4px;
}
.navbar{
  padding: 0px;
}

#logo img{
	opacity:1.0;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	-ms-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
}

#logo img:hover{
-moz-transform: scale(1.05);
-webkit-transform: scale(1.05);
-o-transform: scale(1.05);
transform: scale(1.05);
-ms-transform: scale(1.05);
filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',M11=0, M12=-0, M21=0, M22=2);
}

.logoAndTopNav .grid-4 img{
	height: 65px;
}
/* alter main navbar look */
.navigation-container group{
	background-color: #039ce8;
    padding-top: 0px;
}

div.navigation-container li.top a.dir {
    border-bottom: 3px solid #fff;
}

ul.dropdown li.right a:hover, ul.dropdown li a:hover, ul.dropdown a.open, ul.dropdown li:hover > a.dir {
    background-color: #fff;
    color: #3c3c3c;
}

ul.dropdown li a {
	color: #fff;
}

ul.dropdown ul a {
	background-color:#3c3c3c;
}

.container-wrapper .group {
    border-top: 3px solid #fff;
}

/*CSS Changes for Other Page Elements*/

/*change color for quick veiw blocks*/
.block-value {
	color: #f16924;
    background-color: #3c3c3c;
}

.block-label {
	font-size:1.1em;
	    color: #fff;
    background-color: #3c3c3c;
}
